/* :root {
  --primary-blue: #1E88E5;
  --accent-pink: #E91E63;
  --accent-orange: #FB8C00;
  --soft-yellow: #FBC02D;
  --dark-bg: #0F172A;
  --light-bg: #F8FAFC;
  --text-dark: #1F2937;
  --text-light: #E5E7EB;
}

*{
    margin: 0;
    padding: 0;
 background-color: var(--light-bg);
} */
 .subheading{
    font-family: 'Nunito', sans-serif;
    font-size: large;
    color: #312E81;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
 }